@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body_ppal {
  background-color: #eaeaea;
}

.container_titulo {
  padding: 10px;
  background-color: black;
}

.titulo {
  font-size: 0;
  margin: 0 auto;
  background-color: black;
  height: 15vh;
}

.titulo h2 {
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  font-size: 80px;
  color: white;
}

.redes_sociales {
  text-align: right;
  margin-right: 20px;
}

nav {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
  font-size: 30px;
  list-style-type: none;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

nav .nav-item {
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 20px 30px;
  transition: color 0.3s, transform 0.6s;
}

.nav-link:hover {
  color: darkolivegreen;
  transform: scale(1.6);
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
  transform: scale(1.4);
  color: darkolivegreen;
  text-decoration: none;
}

.container {
  height: 500px;
}

.contenedor_main {
  display: inline-block;
  width: 100%;
}

.contenedor_main .video {
  text-align: center;
}

.contenedor_main .foto {
  text-align: center;
}

.titulo_pagina {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  font-size: 80px;
}

aside {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  background-color: white;
  margin: 20px;
  height: 90px;
  overflow: hidden;
}

#link {
  display: flex;
  justify-content: center;
}

#link a {
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 20px;
  transition: transform 0.3s;
}

#link a:hover {
  transform: scale(1.5);
  color: darkolivegreen;
}

#footer {
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

article .titulo_article {
  font-size: xx-large;
  text-align: left;
}

article .cuerpo_article {
  margin-top: 20px;
  font-size: x-large;
  text-align: left;
}

article .firma_article {
  margin-top: 20px;
  font-size: x-large;
  text-align: end;
  font-weight: bold;
}

.normal {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  background-color: white;
  padding: 20px;
  margin-top: 30px;
  margin-left: 40px;
  height: 200px;
}

@media (max-width: 1200px) {
  .cuerpo_aside p {
    font-size: small;
  }
}
.titulo_aside {
  margin-top: 30px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  height: 4rem;
  background-color: white;
  font-size: x-large;
  text-align: center;
}

.cuerpo_aside {
  background-color: black;
  margin-right: 20px;
  height: 8.5rem;
  color: white;
  padding: 10px;
  text-align: center;
}

.titulo_aside2 {
  margin-top: 30px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  height: 6rem;
  background-color: white;
  font-size: x-large;
  text-align: center;
}

.cuerpo_aside2 {
  background-color: black;
  margin-right: 20px;
  height: 31.5rem;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: large;
}

.music {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  background-color: white;
  padding: 20px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 20px;
  height: 400px;
}

.body_ppal {
  min-width: 768px;
}

.galeria {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  background-color: white;
  padding: 20px;
  height: 200px;
  height: 600px;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  margin-left: 40px;
}

.container_galeria {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 120%;
  animation: slide 5s infinite;
}

.gallery img {
  max-width: 100%;
  height: auto;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.historia {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  background-color: white;
  padding: 20px;
  margin: 20px;
  height: auto;
}

.body_historia {
  background-color: #eaeaea;
  min-width: 468px;
}

.cuerpo_historia {
  font-size: x-large;
  text-align: center;
}

.canciones {
  background-color: #eaeaea;
  min-width: 468px;
}

.normal_can {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  background-color: white;
  padding: 20px;
  margin: 20px;
  height: 400px;
}

.container_canciones .row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.col-md-5, .col-md-3 {
  margin: 10px;
}

article .cuerpo_article_can {
  margin-top: 20px;
  font-size: x-large;
  text-align: left;
  overflow-wrap: break-word;
}

.album {
  border: 3px solid white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.body_media {
  min-width: 585px;
}

.fecha_calendario {
  display: flex;
  background-color: black;
  color: white;
  padding: 5px;
  border-bottom: 1px solid white;
}

.titulo_calendario {
  background-color: white;
  font-family: "Shadows Into Light", cursive;
  font-size: larger;
  border-top: 1px solid black;
  padding: 4px;
}

.fecha_calendario .fc1 {
  font-size: 40px;
}

.fecha_calendario .fc2 {
  font-size: 20px;
  margin: 21px;
}

.fecha_calendario .fc3 {
  font-size: 40px;
  margin-left: 3px;
}

.fecha_calendario .fc4 {
  font-size: 20px;
  margin-left: 50px;
  margin-top: 22px;
  font-weight: bold;
}

.fecha_calendario .fc5 {
  font-size: 20px;
  margin-left: 50px;
  margin-top: 22px;
}

@media (max-width: 546px) {
  .fecha_calendario .fc1 {
    font-size: 20px;
  }
  .fecha_calendario .fc2 {
    font-size: 10px;
    margin: 21px;
  }
  .fecha_calendario .fc3 {
    font-size: 20px;
    margin-left: 3px;
  }
  .fecha_calendario .fc4 {
    font-size: 10px;
    margin-left: 50px;
    margin-top: 22px;
    font-weight: bold;
  }
  .fecha_calendario .fc5 {
    font-size: 10px;
    margin-left: 50px;
    margin-top: 22px;
  }
}
.formulario {
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
}

.formulario div {
  margin-top: 10px;
  padding: 10px;
}

/*# sourceMappingURL=estilos.css.map */
