@media (min-width: 546px) {
    .fecha_calendario {
      font-size: 12px; /* Tamaño normal del texto para pantallas medianas y grandes */
    }
    .fecha_calendario p {
      font-size: 10px;  
      margin: 5px; /* Margen ligeramente mayor para pantallas medianas y grandes */
    }
}
  
@media screen and (min-width: 341px){

    .titulo {
        height: 120px;
    }
    .titulo h2 {
        font-size: 60px;
        color: white;
        
    }    
    .titulo_pagina {
        font-size: 40px;
    }
    #footer {
        font-size: 20px;
    
    }
        
}

@media screen and (min-width: 409px){

    .titulo {
        height: 120px;
    }
    .titulo h2 {
        font-size: 60px;
        color: white;
        
    }    

    #footer {
        font-size: 20px;
    
    }
        
}

@media screen and (max-width: 409px){

    .titulo {
        height: 120px;
    }
        
}

@media screen and (max-width: 341px){
    .titulo {
        height: 120px;
    }
    .titulo_pagina {
        font-size: 20px;
    }
    .titulo h2 {
        font-size: 30px;
        color:white;

    }    
    #footer {
        font-size: 5px;
    
    } 
}
@media screen and (max-width: 600px){
    .titulo {
        height: 120px;
    }
    .titulo h2 {
        font-size: 40px;
        color: white;

    }    
    .titulo_pagina {
        font-size: 30px;
    }
    #footer {
        font-size: 15px;
    }
}
@media screen and (max-width: 855px){
    .container_titulo {
        flex-direction: column;
        align-items: center;
    }
    .redes_sociales {
        align-items: center;
        justify-content: center;
    }
    .titulo {
        height: 120px;
    }

    .titulo h2 {
        font-size: 60px;
        color: white;

    }    
    .titulo_pagina {
        font-size: 30px;
    }
    #footer {
        font-size: 15px;
    }
}
@media screen and (min-width: 745px){
    .titulo {
        height: 120px;
    }
    .titulo h2 {
        font-size: 90px;
        color: white;

    }    
}

@media (max-width: 630px) {
    .container_canciones {
      min-width: 630px; 
    }
}

@media (max-width: 1458px) {
    .container_canciones {
      min-width: 630px; 
    }
    article .cuerpo_article {
        font-size: small;
    }
    
}

