.canciones {
    background-color: $color-fondo_bodyhome;
}
.normal_can {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    background-color: white;
    padding: 20px;
    margin: 20px;
    height: 400px;
    @media (max-width: 416px) {
        height: 450px;
    }    

}

.container_canciones .row {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
}
.col-md-5, .col-md-3 {
    margin: 10px;
}
article .cuerpo_article_can {
    margin-top: 20px;
    font-size: x-large;
    text-align: left;
    overflow-wrap: break-word;
}

.album {
    border: 3px solid white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    
}

.titulo_aside2_can {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 6rem;
    background-color: white;
    font-size: x-large;
    text-align: center;

}

.cuerpo_aside2_can {
    background-color: black;
    margin-right: 20px;
    margin-left: 20px;
    height: 19rem;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: large;
    @media (max-width: 416px) {
        height: 13rem;
    }    
    // @media (max-width: 1400px) {
    //     height: 26rem;
    // }    
}
