.historia {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    background-color: white;
    padding: 20px;
    margin: 20px;
    height: auto;
}

.body_historia {
    min-width: 468px;
}
.cuerpo_historia {
    font-size: x-large;
    text-align: center;
}

